


/*------Logo de Nosotros-----*/
figure{
    margin: 0;
}
.img-nosotros{
    height: 710px;
    display: block;
}

figure h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 80px;    
    color: #fffcfc;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

/*----------------CONTENIDO PRINCIPAL----------------*/

/*---Para todas las secciones---*/
section{
    margin: 0;
    
}

/*------------SECCIÓN: Horarios y servicios----------*/
.seccion-horarios{
    text-align: left;
    background-color: #B3171E;
    color:white;
    padding: 50px 80px 100px 80px;
}

.titulo-horarios{
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;    
    color: #ffffff;
}

.parrafo-horarios{
    font-family: 'Inter', sans-serif;
    font-size: 20px;    
    color: #ffffff;
    text-align: left;
    margin: 0 0px;
}




/*-----------TABLAS-----------*/

.contenedor-tabla{
    margin-top: 60px;
    display: flex;
}

.col-dia{
    background-color: rgb(10, 22, 27);
}

table{
    width: 75%;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Inter, Helvetica, sans-serif;
    text-align: center;
    margin-right: 80px;
}

caption{
    background-color: rgb(78, 14, 14);
    font-size: 20px;
    color:#ffffff;
    font-weight: bold;

    padding: 25px;
}

/*----Celdas-----*/
th,td{
    border: 4px dashed rgb(146, 64, 64);
    padding:8px
}

/*Color del encabezado de la tabla*/
thead{
    background-color: rgb(21, 46, 56);
    color: white;
}


/*--Tbody--*/
.celdas-internas1{
    background-color: rgb(37, 73, 87);
}

.celdas-internas2{
    background-color: rgb(80, 140, 163);
}




/*--Mouse encima del tbody--*/
tbody td:hover{
    background-color: rgb(64, 87, 95);
}

/*Fondo al pie de la tabla*/
tfoot{
    background-color: silver;
    color:#000000;
}

.caja-horarios{
    margin:0;
}

/*---------Imagen de horarios-------*/
.img-horarios{
    width: 610px;
}


/*------------SECCIÓN: Nuestra historia-------------------------*/
.seccion-historia{
    background-color: #FFE8D3;
    color:white;
    padding: 20px 80px 100px 80px;
    text-align: center;

}

.titulo-historia{
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;    
    color: black;
    text-align: center;
}




/*--Imagenes de historia--*/
.img-historia{
    width: 700px;
    margin: 25px 25px;
}

/*Caja de texto*/
.caja-parrafo-historia{
    padding:10px;
    margin-left: 50px;
}

.parrafo-historia{
    font-family: 'Inter', sans-serif;
    font-size: 22px;    
    color: #000000;
    text-align: left;
    padding: 15px;
}

/*------------SECCIÓN: Servicios1-----------------------------*/

.contenedor-secciones{
    display: flex;
    width: auto;
}
/*-----------*/
.seccion-servicios1{
    background-color: #B3171E;
    padding: 65px 0px 65px 200px;
    width: 45%;
}

.img-secundaria{
    width: 850px;
}

/*------------SECCIÓN: Servicios2----------*/

.seccion-experiencias2{
    background-color: #ffffff;
    padding: 65px;
}

/*------*/
.contenedor-experiencias{
    display: flex;
    padding: 0px 150px;
}
/*------*/



.caja-experiencias{
    background-color: #c6c9c791;
    text-align: center;
    margin:0px 10px 50px 10px;
}

.titulo-experiencias{  
    font-family: "Fjalla One";
    color: #B3171E;  
    font-size: 40px;
    font-weight: bold;
}

.caja-experiencias img{
    width: 100%;
}