
/* Título principal */
.container{
    padding: 50px 80px 100px;
    background-color: #7d0610;
}   
.title{
    margin-bottom: 60px;
    text-align: center;
}
.title h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    color: #ffffff;
}
.title h3{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
}

.sedes{
    /* Espaciado */
    display: flex;
    flex-direction: column;
    gap: 50px
    
    ;
}

.sede{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 30px;
    background-color: #FFE8D3;
}

.sede-info{
    flex: 1;
    padding: 20px;
    text-align: left;
}
.sede-info h2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 36px;
    color: #B3171E;
}
.sede-direccion,
.sede-horario,
.sede-telefono{
    margin: 6px 0px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #000000;
}

.sede-mapa{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background-color: #B3171E;
}


.sede-mapa:hover{
    background-color: rgb(78, 14, 14);
}

.sede-imagen{
    flex: 1;
}
.sede-imagen img{
    width: 100%;
    height: 350px;
    display: block;
}