
    /*------Logo de Nosotros-----*/
figure{
    margin: 0;
}
.img-nosotros{
    display: block;
    width: 100%;
}
figure h1{
    color: #fffcfc;
    font-family: 'Fjalla One', sans-serif;
    font-size: 80px;

    /* Posicionamiento */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    
}
/*-----------------------CONTENIDO PRINCIPAL-----------------------*/


/*---------------SECCIÓN: Horarios y servicios-------*/
.seccion-horarios{
    background-color: #B3171E;
    color: white;

    padding: 50px 80px 100px 80px;
    text-align: left;
    
}
.titulo-horarios{
    color: #ffffff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
}
.parrafo-horarios{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 20px;

    margin: 0px;

}
/*-----------TABLAS-----------*/
.contenedor-horarios{
    display: flex;
    margin-top: 60px;
}
.col-dia{
    background-color: rgb(10, 22, 27);
}
table{
    width: 50%;
    border-collapse: collapse;
    margin-right: 80px;

    font-family: Inter, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}
caption{
    background-color: rgb(78, 14, 14);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;

    padding: 25px;
}
/*----Celdas-----*/
th,td{
    padding: 8px;
    border: 4px dashed rgb(146, 64, 64);
}
/*Color del encabezado de la tabla*/
thead{
    background-color: rgb(21, 46, 56);
    color: white;
}
/*--Tbody--*/
.celdas-tipo1{
    background-color: rgb(37, 73, 87);
}
.celdas-tipo2{
    background-color: rgb(80, 140, 163);
}
/*--Focus encima del tbody--*/
tbody td:hover{
    background-color: rgb(64, 87, 95);
}
/*Fondo al pie de la tabla*/
tfoot{
    background-color: silver;
    color: #000000;
}
/*-----Imagen de horarios----*/
.img-horarios{
    width: 610px;

}
/*-------------------SECCIÓN: Nuestra historia------------------*/
.seccion-historia{
    background-color: #FFE8D3;

    padding: 20px 110px 100px 110px;
    text-align: center;
}
.titulo-historia{
    color: black;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
}

/*--Imagen de historia--*/
.img-historia{
    width: 700px;
    margin: 25px;
}

/*Caja de texto*/
.caja-parrafo-historia{
    padding: 45px;
    background-color: rgb(255, 179, 179);
    text-align: left;

}

.parrafo-historia{
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 22px;

}
/*------------SECCIÓN: Servicios 1 (banner)-------------------*/
.contenedor-banner{
    display: flex;
}
/*-----------*/
.seccion-servicios1{
    background-color: #B3171E;

    width: 45%;
    padding: 65px 0px 65px 150px;
}
.img-secundaria{
    width: 850px;
}
/*-----------------SECCIÓN: Servicios2---------------------------*/
.seccion-servicios2{
    background-color: white;

    padding: 65px;
}
/*------*/
.contenedor-servicios{
    display: flex;
    padding: 0px 150px;
}
/*------*/
.caja-servicios{
    background-color: #c6c9c791;

    margin: 0px 10px 50px 10px;
    text-align: center;
}
.titulo-servicios{
    color: #B3171E;
    font-family: "Fjalla One";
    font-size: 40px;
    font-weight: bold;
}
.caja-servicios img{
    width: 100%;
}