/* ============ ENCABEZADO (Carnes) ============ */
.encabezado-carnes {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}

.encabezado-carnes img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.encabezado-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}



/* ============ TEXTO PRINCIPAL ============ */
.intro-carnes {
    background-color: black;
    padding: 60px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-carnes img {
    width: 100%;
    max-width: 320px;
    height: auto;
    display: block;
    margin-bottom: 30px;
}


.parrafo {
    max-width: 40rem;
    margin: 0 auto;
}


/* ============ PLATOS ESTRELLA ============ */
.seccion-estrella {
    background-color: #7d0610;
    padding: 40px 0 60px;
}

.titulo-seccion {
    margin: 0 0 50px;
    text-align: center;

}

/* ============ FONDOS ALTERNADOS DE PLATOS ============ */
.plato-bg {
    padding: 40px 60px;
    width: 100%;
    box-sizing: border-box;
}

.plato-bg--oscuro {
    background-color: #7d0610;
}

.plato-bg--claro {
    background-color: rgb(250, 227, 207);
}

.articulo-plato {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.articulo-plato.invertido {
    flex-direction: row-reverse;
}

.articulo-plato figure,
.articulo-plato .texto-plato {
    flex: 1;
    margin: 0;
}

.articulo-plato img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 6px;
    display: block;
}

.titulo-card {
    margin: 0 0 12px;
}

.articulo-plato .texto-plato p {
    color: rgb(40, 40, 40);
    font: 1rem/1.6 "Google Sans Flex";
}

/* Texto en blanco cuando el fondo es oscuro */
.plato-bg--oscuro .texto-plato h4,
.plato-bg--oscuro .texto-plato p {
    color: white;
}

/* ============ CONOCE TODA NUESTRA CARTA ============ */
.seccion-carta {
    background-color: rgb(254, 254, 254);
    text-align: center;
    padding: 25px 25px 40px;
}

.titulo-card {
    margin: 0 0 20px;
}

/* ============ BOTÓN CARTA ============ */

.seccion-carta a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7d0610;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.8rem;
}

.seccion-carta a:hover {
    background-color: #4f0309;
}